.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
}

.image-wrapper,  .image-wrapper-selected {
  position: relative;
  display: inline-block;
  margin: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-wrapper:hover {
  transform: scale(1.05);
}

.image, .image-selected {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Add this line */
  border-radius: 16px;
}
.image:hover {
  cursor: pointer;
  border: 2px solid rgb(250,4,81);
}
.title {
  font-size: 48px; 
  font-weight: bold; 
  color: #ff4500; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  animation: pulse 1s infinite alternate; 
}

@keyframes pulse {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.1);
  }
}
.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 40px; /* Ajusta esta posición según sea necesario */
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.menu ul li a:hover {
  color: #000;
}


.navbar-custom {
  padding: 1rem;
  font-size: 1.2rem;
}

.brand-custom {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link-custom {
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
}

.form-control-custom {
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
}